extends base

block content 
    main.main 
        .card-container
            each booking in bookings
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/tours/${booking.tour.imageCover}`, alt=`${booking.tour.name}`)
                        h3.heading-tertirary
                            span= booking.tour.name
                    .card__details
                        h4.card__sub-heading #{booking.tour.difficulty} #{booking.tour.duration}-days Tour
                        p.card__text= booking.tour.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-map-pin")
                            span= booking.tour.startLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-calendar")
                            span= booking.startDate.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-flag")
                            span= `${booking.tour.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-user")
                            span= `${booking.tour.maxGroupSize} people`

                    .card__footer
                        a.btn.btn--green.btn--small(href=`/tour/review/${booking.tour.slug}`) Write a review
                        a.btn.btn--green.btn--small(href=`/tour/${booking.tour.slug}`) Details

    if showEditReviewOverlay
        include createReview