extends base

block content 
    div#dropdown-container
      select#sort-select.dropdown
        option(value="") Sort by
        option(value="/?sort=price") Sort by Price
        option(value="/?sort=ratingsAverage") Sort by Ratings
        option(value="/?sort=duration") Sort by Duration
    main.main 
        .card-container
            each tour in tours
                - const booked = tour.bookings == tour.maxGroupSize* tour.startDates.length
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                        h3.heading-tertirary
                            span= tour.name
                    .card__details
                        h4.card__sub-heading #{tour.difficulty} #{tour.duration}-days Tour
                        p.card__text= tour.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-map-pin")
                            span= tour.startLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-calendar")
                            if(!booked)
                                span= tour.startDate.toLocaleString('en-us', {month: 'long', year: 'numeric'})
                            else 
                                span --
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-flag")
                            span= `${tour.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href="/img/icons.svg#icon-user")
                            if(!booked)
                                span= `${tour.maxGroupSize - (tour.bookings%tour.maxGroupSize)} people`
                            else 
                                span --

                    .card__footer
                        p
                            span.card__footer-value= `$${tour.price}`
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value= `${tour.ratingsAverage} `
                            span.card__footer-text= `rating (${tour.ratingsQuantity})`
                        if (tour.bookings == tour.maxGroupSize* tour.startDates.length)
                            button.btn.btn--red.btn--small(href=`#` disabled) Unavailable
                        else
                            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}` ) Details